<?xml version="1.0"?>

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.6.1" />
      <httpRuntime targetFramework="4.6.1" />
    </system.web>

  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="Home.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
    
    <connectionStrings>
      <add name="sjambokConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Admin\Documents\SJAMBOK_3_DATABASE.mdf;Integrated Security=True;Connect Timeout=30"/>
    </connectionStrings>

</configuration>
